<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets</title>
  </head>
  <body>
    <% @secrets.each do |secret| %>
      <p><%= secret.content %></p>
      <p><%= secret.likes.count %> likes</p>
      <% unless secret.users_liked.include?(current_user) %>
        <form action='/likes/<%=current_user.id%>' method='post'>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type = 'hidden' name='secret_id' value="<%=secret.id%>">
          <input type='submit' value='Like'>
        </form>
      <% else %>
        <form action='/likes/<%=current_user.id%>' method='post'>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type='hidden' name='_method' value='delete'>
          <input type='hidden' name='secret_id' value="<%=secret.id%>">
          <input type='submit' value='Unlike'>
        </form>
      <% end %>
      <% if current_user == secret.user %>
        <form action='/secrets/<%=secret.id%>' method='post'>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete'>
        </form>
      <% end %>
    <% end %>
  </body>
</html>
